/* Estilo Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    color: #1b441b;
}

/* Cabeçalho */
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b441b;
    padding: 20px 30px;
}

header .logo {
    height: 70px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 1000;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #cb540f;
}

/* Estilo para a Seção Hero */
.hero {
    position: relative;
    background-image: url('assets/ginastica.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Tela cheia */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Sobreposição escura */
    z-index: 1; /* Coloca a sobreposição abaixo do texto */
}

.hero-text {
    position: relative;
    z-index: 2; /* Coloca o texto acima da sobreposição */
}

.hero-text h1 {
    font-size: 4rem;
    margin: 0;
    animation: slideIn 2s ease-out;
}

.hero-text p {
    font-size: 2rem;
    margin-top: 20px;
    animation: fadeIn 3s ease-in-out;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Seção Sobre Nós */
.sobre-nos {
    padding: 50px 20px;
    background-color: #f2f2f2;
    color: #1b441b;
    text-align: center;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sobre-nos h2 {
    font-size: 3rem; /* Aumentei o tamanho do título principal */
    margin-bottom: 30px;
}

.mvv {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.mvv div {
    width: 25%; /* Reduzi a largura */
    height: 400px; /* Aumentei a altura para tornar o retângulo mais vertical */
    margin-bottom: 20px;
    background-color: #f2f2f2;
    border: 2px solid #1b441b;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mvv div:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.mvv h3 {
    font-size: 1.8em; /* Aumentei o tamanho do título de cada bloco */
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.mvv h3 i {
    margin-right: 10px;
    font-size: 2em; /* Aumentei o tamanho do ícone */
    color: #1b441b;
}

.mvv p {
    font-size: 1.5rem; /* Aumentei o tamanho do texto */
    color: #333;
}


/* Seção Serviços */
.servicos {
    background-color: #81a969; /* Faixa verde-claro */
    color: white;
    padding: 60px 20px; /* Aumentei o padding */
    text-align: center;
    min-height: 90vh; /* Aumentei a altura para 90% da tela */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.servicos h2 {
    font-size: 3.5rem; /* Aumentei o tamanho do título */
    margin-bottom: 50px;
    color: #f2f2f2; /* Uma cor branca mais suave */
}

.servicos-grid {
    display: flex;
    justify-content: space-between; /* Itens espaçados uniformemente */
    align-items: center;
    flex-wrap: wrap;
    gap: 30px; /* Aumentei o espaçamento entre os quadrados */
    width: 90%; /* O grid ocupa 90% da largura da seção */
    max-width: 1400px; /* Limita a largura máxima */
}

.servico {
    flex: 1 1 calc(33.333% - 30px); /* Cada item ocupa aproximadamente 1/3 da linha */
    background-color: #1b441b; /* Verde-escuro */
    padding: 30px; /* Aumentei o padding para mais espaçamento interno */
    border-radius: 10px; /* Borda suavizada */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Sombra mais definida */
    min-width: 300px; /* Largura mínima maior para responsividade */
    color: #f2f2f2; /* Texto mais claro */
}

.servico:hover {
    transform: translateY(-10px); /* Animação de hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra mais intensa no hover */
}

.servico h3 {
    font-size: 2rem; /* Aumentei o tamanho do texto dos títulos */
    margin-bottom: 20px;
    color: #e6e6e6; /* Título em um tom mais claro */
}

.servico p {
    font-size: 1.4rem; /* Aumentei o tamanho do texto do parágrafo */
    line-height: 1.8; /* Melhor espaçamento entre linhas */
    color: #f0f0f0; /* Texto do parágrafo um pouco mais claro */
}

/* Responsividade */
@media (max-width: 768px) {
    .servicos-grid {
        flex-direction: column; /* Empilha os itens verticalmente em telas menores */
        gap: 20px;
    }
    
    .servico {
        min-width: 100%; /* Ocupa 100% da largura em telas pequenas */
    }

    .servico h3 {
        font-size: 1.8rem; /* Ajusta o tamanho do título em telas menores */
    }

    .servico p {
        font-size: 1.1rem; /* Ajusta o tamanho do parágrafo em telas menores */
    }
}

/* Estilo da seção de cases de sucesso */
.cases-section {
    text-align: center;
    padding: 0;
    background-color: #f2f2f2;
    height: 100vh; /* Ocupa 100% da altura da tela */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cases-section h2 {
    font-size: 3rem; /* Tamanho maior para o título */
    margin-bottom: 30px;
    color: #1b441b;
}

.cases-container {
    position: relative;
    width: 75vw; /* 75% da largura da tela */
    height: 75vh; /* 75% da altura da tela */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.case {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
}

.case img {
    width: 50%; /* Aumenta a largura da imagem */
    height: 100%; /* Aumenta a altura da imagem */
    object-fit: cover; /* Mantém a proporção da imagem */
    border-radius: 10px;
}

.case-info {
    flex-grow: 1;
    padding-left: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.case-info h3 {
    color: #1b441b;
    font-size: 2.5rem; /* Aumenta o tamanho do título */
    margin-bottom: 15px;
}

.case-info p {
    color: #333;
    font-size: 1.5rem; /* Aumenta o tamanho do parágrafo */
}

/* Botões de navegação */
.prev-btn, .next-btn {
    background-color: #81a969;
    color: #81a969;
    border: none;
    padding: 20px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 2.5rem;
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.prev-btn {
    left: -150px; /* Posiciona a seta à esquerda fora do container */
}

.next-btn {
    right: -150px; /* Posiciona a seta à direita fora do container */
}

/* Estilização dos pontos (dots) */
.dots {
    text-align: center;
    margin-top: 20px;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    margin: 0 7px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.active-dot, .dot:hover {
    background-color: #81a969;
}

/* Configura os slides */
.slide {
    display: none; /* Esconde todos os slides por padrão */
}

.active-slide {
    display: flex; /* Mostra o slide ativo */
}

/* Seção Equipe */
.equipe {
    padding: 50px 20px;
    text-align: center;
    background-color: #81a969;
    color: white;
    height: 70vh; /* Ocupa 70% da altura da tela */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Centraliza o conteúdo verticalmente */
}

.equipe h2 {
    font-size: 3rem;
    margin-bottom: 30px;
}

.equipe img {
    width: 100%;
    max-width: 800px; /* Aumentei o tamanho máximo da imagem */
    border-radius: 40px;
}

/* Seção Contato */
.contato {
    padding: 50px 20px;
    text-align: center;
    background-color: #cb540f;
    color: white;
}

.contato h2 {
    font-size: 3rem;
    margin-bottom: 30px;
}

.contato-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato-info iframe {
    width: 100%;
    max-width: 600px;
    height: 300px;
    border: none;
    margin-bottom: 20px;
}

.contato-detalhes p {
    margin: 10px 0;
}

.contato-detalhes a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.contato-detalhes a:hover {
    text-decoration: underline;
}

/* Botão de WhatsApp */
.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.whatsapp img {
    width: 70px;
    height: 70px;
}
