/* Fontes globais */
body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    line-height: 1.6;
}

h1, h2, h3 {
    font-family: 'League Spartan', sans-serif;
    color: #1b441b;
}

/* Menu de navegação */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b441b;
    padding: 10px 50px;
}

.navbar-logo img {
    width: 80px;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-menu li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar-menu li a:hover {
    color: #cb540f;
}

/* Seção Principal */
.main-header {
    text-align: center;
    padding: 100px 20px;
    background-color: #81a969;
}

.main-title {
    font-size: 48px;
    color: white;
    animation: fadeIn 2s ease-in-out;
}

.sub-title {
    font-size: 24px;
    color: #f2f2f2;
    animation: fadeIn 3s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Nossos Serviços */
.services-section {
    padding: 50px;
    background-color: #1b441b;
    color: white;
    text-align: center;
}

.service-card {
    background-color: #81a969;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.service-card:hover {
    transform: scale(1.05);
}

@media (min-width: 768px) {
    .services-section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
    }
}

/* Sobre nós */
.about-section {
    padding: 50px;
    background-color: #f2f2f2;
}

.mvv-card {
    background-color: #81a969;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
}

@media (min-width: 768px) {
    .about-section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
    }
}

/* Botão do WhatsApp */
.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 100;
    text-decoration: none;
}

.whatsapp-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #25d366;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.whatsapp-icon:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
